body {
    margin: 0 auto;
    background-color: rgb(19, 18, 18);
}

#container {
    width: 960px;
    height: 960px;
    background-color: rgb(245, 245, 219);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* #cell:hover {
    background-color: var(--random-color);
} */

button {
    margin: 40px 0;
    cursor: pointer;
}